$prefix: '.sine-die-progress';

@mixin progressive($type: background) {
  &-normal {
    #{$type}: #5584ff;
  }

  &-success {
    #{$type}: #46bc15;
  }

  &-error {
    #{$type}: #ff3000;
  }
}

#{$prefix}-line {
  & {
    width: 100%;
    display: inline-block;
    position: relative;

    &-container {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
    }

    &-underlay {
      border-radius: 20px;
      height: 8px;
      position: relative;
      overflow: hidden;
      width: 100%;
      background: #f0f2f5;
    }

    &-overlay {
      border-radius: 20px;
      height: 8px;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 300ms ease;
      @include progressive('background');
    }
  }

  &-show-info {
    #{$prefix}-line-container {
      padding-right: 60px;
      margin-right: -60px;
    }

    #{$prefix}-line-text {
      width: 50px;
      text-align: left;
      margin-left: 10px;
      vertical-align: middle;
      display: inline-block;
      color: #333;
    }
  }

  &-show-border {
    #{$prefix}-line-underlay {
      border: 1px solid red;
    }

    #{$prefix}-line-overlay {
      top: -1px;
    }
  }
}


#{$prefix}-circle {
  & {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;

    &-underlay {
      stroke-width: 8px;
      stroke: #ebedf0;
    }

    &-overlay {
      transition: all 300ms ease;
      stroke-linecap: round;
      stroke-width: 8px;
      @include progressive('stroke');
    }
  }

  &-text {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform 300ms ease;
    color: #333;
  }
}
