$upload-prefix: '.sine-die';

@mixin listItemStyle($optionsTop: 0, $optionsLineHeight: 40px) {
  &-name-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-options {
    position: absolute;
    top: $optionsTop;
    line-height: $optionsLineHeight;
    right: 12px;

    .icon {
      cursor: pointer;
    }
  }

  &-name {
    color: #333;
    transition: all 100ms linear;
  }

  &-size {
    color: #8d9299;
    margin-left: 8px;
  }

  &:hover {
    #{$upload-prefix}-list-item-options {
      .icon path {
        fill: #666;
      }
    }
  }

  &-done:hover #{$upload-prefix}-list-item-name {
    color: #5584ff;
  }

  &-done:hover #{$upload-prefix}-list-item-name-wrap {
    color: #5584ff;
  }

}

// todo
#{$upload-prefix} {
  &-upload {
    display: inline-block;
  }

  &-draggable {
    display: block;
  }

  // 拖拽样式
  &-drag {
    --color: #666;
    border: 1px dashed #c4c6cf;
    transition: border-color 100ms linear;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    text-align: center;
    margin-bottom: 4px;

    &-icon {
      margin-top: 16px;
    }

    &-text {
      margin-top: 8px;
      font-size: 14px;
      color: var(--color);;
    }

    &-hint {
      margin: 4px 0 20px;
      font-size: 12px;
      color: #999;;
    }

    &-over {
      border-color: #5584ff;
    }
  }

  // 列表样式
  &-list-upload {
    .upload-btn {
      border: 0 solid transparent;
      padding: 0 16px;
      cursor: pointer;
      height: 28px;
      background-color: #5584ff;
      border-radius: 4px;
      color: #fff;

      &:hover {
        background-color: #3e71f7;
      }
    }
  }


  // 文件列表
  &-list {
    margin-top: 8px;
    &-item {
      position: relative;

      &-name {
        text-decoration: none;
      }

    }
  }

  // 文件文本列表
  &-list-text {
    #{$upload-prefix}-list-item {
      background-color: #f4f6f9;
      padding: 4px 40px 4px 8px;
      height: 40px;
      line-height: calc(40px - 8px);
      font-size: 12px;
      overflow: hidden;
      transition: all 100ms linear;
      border-radius: 0;

      @include listItemStyle();

      & {
        margin-bottom: 4px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-done:hover #{$upload-prefix}-list-item-size {
        color: #5584ff;
      }

      &-error {
        background-color: #ffd2d2;

        &#{$upload-prefix}-list-item-error-with-msg {
          line-height: calc(40px / 2 - 4px);
        }

        &-msg {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #ff3000;
        }
      }

      &-uploading {
        line-height: calc(40px / 2 - 4px);
      }
    }
  }

  // 文件图片列表
  &-list-image {
    #{$upload-prefix}-list-item {
      box-sizing: content-box;
      padding: 8px 40px 8px 8px;
      border: 1px solid #dcdfe6;
      position: relative;
      display: flow-root;
      height: 48px;
      line-height: 48px;

      @include listItemStyle(8px, 48px);

      &-image-thumbnail {
        cursor: pointer;
        float: left;
        width: 48px;
        height: 48px;
        margin-right: 12px;

        & > img {
          width: 100%;
          height: 100%;
        }
      }

      & {
        margin-bottom: 4px;
      }

      &-done:hover {
        border-color: #5584ff;
      }


      &:last-child {
        margin-bottom: 0;
      }

      &-progress {
        // image width + margin-left
        margin-left: 60px;
      }

      &-uploading {
        line-height: calc(48px / 2);
      }

      &-uploading, &-error {
        #{$upload-prefix}-list-item-image-thumbnail {
          border: 1px solid #dcdfe6;
          background-color: #f4f6f9;
          text-align: center;
        }

        .icon {
          margin-top: calc(50% - (24px / 2));
        }
      }

      &-error {
        border-color: #f52743;

        .icon {
          margin-top: calc(50% - (36px / 2));
        }

        &#{$upload-prefix}-list-item-error-with-msg {
          line-height: calc(40px / 2);
        }

        &-msg {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #ff3000;
        }
      }
    }
  }
}
