$upload-prefix: '.sine-die';

@mixin listItemStyle($optionsTop: 0, $optionsLineHeight: 40px) {
  &-name-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-options {
    position: absolute;
    top: $optionsTop;
    line-height: $optionsLineHeight;
    right: 12px;

    .icon {
      cursor: pointer;
    }
  }

  &-name {
    transition: all 100ms linear;

    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
      color: #333;
    }
  }

  &-size {
    color: #8d9299;
    margin-left: 8px;
  }

  &:hover {
    #{$upload-prefix}-list-item-options {
      .icon path {
        fill: #666;
      }
    }
  }

  &-done:hover #{$upload-prefix}-list-item-name {
    color: #5584ff;
  }

  &-done:hover #{$upload-prefix}-list-item-name-wrap {
    color: #5584ff;
  }

}

// todo
#{$upload-prefix} {
  &-upload {
    display: inline-block;
  }

  &-draggable {
    display: block;
  }

  // 拖拽样式
  &-drag {
    --color: #666;
    border: 1px dashed #c4c6cf;
    transition: border-color 100ms linear;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    text-align: center;
    margin-bottom: 4px;

    &-icon {
      margin-top: 16px;
    }

    &-text {
      margin-top: 8px;
      font-size: 14px;
      color: var(--color);;
    }

    &-hint {
      margin: 4px 0 20px;
      font-size: 12px;
      color: #999;;
    }

    &-over {
      border-color: #5584ff;
    }
  }

  // 列表按钮样式
  &-list-upload {
    .upload-btn {
      border: 0 solid transparent;
      padding: 0 16px;
      cursor: pointer;
      height: 28px;
      background-color: #5584ff;
      border-radius: 4px;
      color: #fff;

      &:hover {
        background-color: #3e71f7;
      }
    }
  }


  // 文件列表
  &-list {
    margin-top: 8px;

    &-item {
      position: relative;

      &-name {
        text-decoration: none;
      }

    }
  }

  // 文件文本列表
  &-list-text {
    #{$upload-prefix}-list-item {
      background-color: #f4f6f9;
      padding: 4px 40px 4px 8px;
      height: 40px;
      line-height: calc(40px - 8px);
      font-size: 12px;
      overflow: hidden;
      transition: all 100ms linear;
      border-radius: 0;

      @include listItemStyle();

      & {
        margin-bottom: 4px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-done:hover #{$upload-prefix}-list-item-size {
        color: #5584ff;
      }

      &-error {
        background-color: #ffd2d2;

        &#{$upload-prefix}-list-item-error-with-msg {
          line-height: calc(40px / 2 - 4px);
        }

        &-msg {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #ff3000;
        }
      }

      &-uploading {
        line-height: calc(40px / 2 - 4px);
      }
    }
  }

  // 文件图片列表
  &-list-image {
    #{$upload-prefix}-list-item {
      padding: 8px 40px 8px 8px;
      border: 1px solid #dcdfe6;
      position: relative;
      overflow: hidden;
      line-height: 48px;

      @include listItemStyle(8px, 48px);

      &-image-thumbnail {
        cursor: pointer;
        float: left;
        width: 48px;
        height: 48px;
        margin-right: 12px;

        & > img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      & {
        margin-bottom: 4px;
      }

      &-done:hover {
        border-color: #5584ff;
      }


      &:last-child {
        margin-bottom: 0;
      }

      &-progress {
        // image width + margin-left
        margin-left: 60px;
      }

      &-uploading {
        line-height: calc(48px / 2);
      }

      &-uploading, &-error {
        #{$upload-prefix}-list-item-image-thumbnail {
          border: 1px solid #dcdfe6;
          background-color: #f4f6f9;
          text-align: center;
        }

        .icon {
          margin-top: calc(50% - (24px / 2));
        }
      }

      &-error {
        border-color: #f52743;

        .icon {
          margin-top: calc(50% - (36px / 2));
        }

        &#{$upload-prefix}-list-item-error-with-msg {
          line-height: calc(40px / 2);
        }

        &-msg {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #ff3000;
        }
      }
    }
  }

  // 卡片列表
  &-list-card {
    overflow: hidden;

    #{$upload-prefix}-list-item {
      float: left;
      margin-right: 16px;

      &-card {
        width: 100px;
      }

      &:hover {
        #{$upload-prefix}-tool {
          opacity: .8;
        }
      }

      &-wrapper {
        position: relative;
        border: 1px solid #d9dbde;
        width: 100px;
        height: 100px;
        background-color: transparent;

        .card-cancel {
          width: 100%;
          position: absolute;
          text-align: center;
          bottom: 8px; // progress height
          left: 0;
          color: #585d66;

          &:hover {
            cursor: pointer;
            color: #03c1fd;
          }
        }

        #{$upload-prefix}-tool {
          position: absolute;
          z-index: 1;
          background-color: rgba(0, 0, 0, .7);
          transition: all 100ms linear;
          opacity: 0;
          width: 100%;
          height: 28px;
          left: 0;
          bottom: 0;

          &-btns {
            display: flex;
            align-items: center;

            & > * {
              cursor: pointer;
              width: 100%;
              line-height: 28px;
              text-align: center;
              border-right: 1px solid #fff;

              & > * {
                vertical-align: middle;
              }
            }

            & .card-del {
              path {
                fill: #ffffff;
              }
            }

            & :last-child {
              border: none;
            }
          }
        }

        // 上传
        #{$upload-prefix}-progress-line {
          position: absolute;
          font-size: 0;
          bottom: 0;
          left: 0;
          width: 100%;

          &-underlay, &-overlay {
            border-radius: 0;
          }
        }
      }

      // 图片
      &-image-thumbnail {
        width: 100%;
        height: 100%;

        & img {
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }

        .icon {
          width: 100%;
          height: 70%;
          margin-top: calc((100px - 70%) / 2)
        }

        .picture {
          height: 50%;
          margin-top: calc((100px - 50%) / 2)
        }
      }

      &-name {
        width: 100%;
        text-align: center;
        margin-top: 4px;
        font-size: 12px;
        color: #585d66;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &-error #{$upload-prefix}-list-item-wrapper {
        border-color: #ff3000;
      }
    }

    #{$upload-prefix}-list-card-upload {
      width: 100px;
      height: 100px;
      border: 1px dashed #d9dbde;
      background-color: #fff;
      text-align: center;
      cursor: pointer;
      transition: border-color .1s linear;
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;

      &:hover {
        border-color: #03c1fd;
        color: #03c1fd;
      }
    }
  }

  // 文字预览
  &-list-preview-text {
    &-item {
      background-color: #f4f6f9;
      padding: 4px 8px;
      height: 40px;
      line-height: calc(40px - 8px);
      font-size: 12px;
      overflow: hidden;
      transition: all 100ms linear;
      border-radius: 0;
      cursor: pointer;

      @include listItemStyle();

      & {
        margin-bottom: 4px;
      }

      &:hover {
        color: #5584ff;
      }
      &:hover &-name {
        color: #5584ff;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  // 图片预览
  &-list-preview-image {
    &-item {
      padding: 8px 40px 8px 8px;
      border: 1px solid #dcdfe6;
      line-height: 48px;

      @include listItemStyle(8px, 48px);

      #{$upload-prefix}-list-item-image-thumbnail {
        cursor: pointer;
        float: left;
        width: 48px;
        height: 48px;
        margin-right: 12px;

        & > img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      & {
        margin-bottom: 4px;
      }

      &:hover {
        color: #5584ff;
        border-color: #5584ff;
      }

      &:hover &-name {
        color: #5584ff;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }
  }
}
